/* General Styles */
body {
    background-color: #EDF0ED;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Nokora', sans-serif;
}

/* Main Content */
main {
    align-items: center;
    text-align: center;
    /* Make main element take up surplus space to push footer down*/
    flex: 1 0 auto;
}

.bg-main-dark {
    background-color: #CCE4E7;
}

.style-heading-font, h1, h2, h3, h4, h5, h6 {
    font-family: "Offside", sans-serif;
}

.style-text-color {
    color: #16303B;
}

div > h3 {
    padding: 20px 0 0;
}

div > p {
    padding: 0 20px;
}

/* Header & Footer Styling */
.bg-HeaderFooter {
    background-color: #35A2C0;
    bottom: 0;
}

/* Footer Layout */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    flex-grow: 1;
    height: 100%;
}

/* Footer Icons */
#social-networks i {
    font-size: 160%;
    color: #224859;
}

/* Footer Copyright Layout */
#copyright-info {
    font-size: 70%;
    text-align: left;
    padding: 0;
    list-style-type: none;
}

/* Unselected Navigation Links */
.nav-link {
    color: #224859;
}

/* Selected Navigation Links */
.active {
    color: #16133B;
}

/* Company Title */
.logoTitle {
    color: #224859;
}

/* Hero Section Jumbotron */
.jumbotron {
    position: relative;
    background: url('/assets/images/PeacefulMindsLogo.webp') no-repeat center center;
    background-size: cover;
    color: white;
    height: 50vh;
    padding-bottom: 50px;
}

.jumbotron::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #30698180;
}

.jumbotron .container {
    position: relative;
    z-index: 1;
}

.card-group-format {
    padding: 20px 20px;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    height: 100%;
}