/* Main Content */
main {
    background-color: #EDF0ED;
    /* Make main element take up surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 30px;
}

/* Header & Footer Styling */
.bg-HeaderFooter {
    background-color: #35A2C0;
}

/* Footer Layout */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

/* Footer Icons */
#social-networks i {
    font-size: 160%;
    color: #224859;
}

/* Footer Copyright Layout */
#copyright-info {
    font-size: 70%;
    text-align: left;
    padding: 0;
    list-style-type: none;
}

/* Unselected Navigation Links */
.nav-link {
    color: #224859;
}

/* Selected Navigation Links */
.active {
    color: #16133B;
    text-decoration-line: overline underline;
}

/* Company Title */
.logoTitle {
    color: #224859;
}

p {
    color: #16133B;
}